h5 {
  text-align: right;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

p {
  max-width: 67em;
  text-align: justify;
}

h2 {
    text-align: center;
  }
img {
    width: 200px;
    height: 200px;
}

table {
    margin-left: 25em;
}

.nombreperro {
    margin-left: 2em;
  }
