h5{
  text-align: right;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
li {
  text-align: center;
  padding-right: 25em;
}
h2 {
  text-align: center;
}
p {
  max-width: 67em;
  text-align: justify;
}

img {
  width: 9em;
  padding: 2em;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-right: 6em;
  margin-left: 6em;
}
